h1{
    background-color: rgb(163, 234, 255);
    color: blue;
    text-align: center;
}


p{
    color: blue;
    font-weight: bold;
}

.gastos{
    float: left;
    margin: 20px;
    border: solid 5px blue;
    border-radius: 8px;
    text-align: center;
    width: 7%;
    height: 200px;
    
}

.gastos>img:hover{
    padding: 10px;
}

#cajaCierre{
    background-color: rgb(163, 234, 255);
    border: solid 5px blue;
    border-radius: 8px;
    width: 40%;
    height: 300px;
    position: relative;
    left: 30%;
    display:grid;
    place-items: center;
}

